body {
    background-color: black;
}

.container {
    background-image: url(backdrop.jpg);
    background-position: center;
    background-size: cover; 
    margin: 130px auto;
    background-color: white; 
    position: relative;
    height: 300px;
    width: 600px;
    border-radius: 10px;
    text-align: center;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#choice-red, #choice-blue, #choice-green, #choice-yellow, #choice-pink, #choice-purple, #pi, #theta {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 480px;
    left: 50px;
    border-radius: 10px;
    border: 2px solid black;
}

#choice-red {
    background-color: red;
}

#choice-blue {
    background-color: blue;
    left: 200px;
}

#choice-green {
    background-color: green;
    left: 350px;
}

#choice-yellow {
    background-color: yellow;
    left: 500px;
}

#choice-pink {
    background-color: pink;
    left: 650px;
}

#choice-purple {
    background-color: purple;
    left: 800px;
}

#pi, #theta {
    left: 950px;
    background-color: white;
    color: black;
    font-size: 40px;
}

#theta {
    left: 1100px;
}

#start {
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
    height: 100px;
    font-size: 40px;
    border: 2px solid white;
    width: 100px;
    background-color: black;
}

button:hover {
    cursor: pointer;
}
